// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contract {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.contract p {
	margin: 4px 0;
}

.contract.hover {
	background: #FAFAFA;
}

.contract .admin {
	
}

contract.hover .admin {
	display: inline;
}

